:root {
     /*palette as variables*/
    --Falcon: #735560;
    --BaliHai: #85A0A6;
    --linkWater: #ecf2f3;
    --Dark: #222;
      /*lenght*/
    --spacer: .5rem;
    --img_k:13;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

.app {
    background-color: #6CBAD9;
    color: var(--Dark);
    width: 100vw;
    height: 100vh;
}

.app header {
    height: 10vh;
    padding: var(--spacer);
    background-color: var(--BaliHai);
    

}

.app .list {
    height: 80vh;
    
}

.app .list li {
    
    display: table;
    width: 100%;
    box-sizing: border-box;
    height: calc(80vh/6);

   /* margin: calc(-2 * var(--spaser)/ ) 0;*/
   border-bottom: 1px solid black;

   scroll-snap-align: start; /*NEW*/
}

.app .list ul{
    height: inherit;
    overflow: auto ;

    scroll-snap-type: y mandatory; /*NEW*/
}

.app .list li:last-child {
    border: 0;
}


.app .list li > div {
    
    height: calc( 100%/6);
    display: table-cell;
    vertical-align: top;
    padding: calc( var(--spacer) );
    border-bottom: 1px solid black;
}


.app .list li .avatar,
.app .list li .info {
    width: 20%;
}

.app .list li .info {
    text-align: right;
}

.app .list li .avatar img {
    width: calc(var(--img_k)*var(--spacer));
}

.app footer {
    height: 10vh;
    padding: var(--spacer)
    background-color: var(--BaliHai);
}

@media (orientation: landscape ) {
    .app header h1{
    font-size: 1.5rem;}


}




