body{
    
    /*padding: 10%;*/

    width: 100vw;  /*1vW  viewport width*/
    height: 100vh;  /*1vh  viewport height*/
    box-sizing: border-box;
}

.app header {
    background-color: red;
}

.app section {
    background-color: green;
}

.app .list li > div {
    background-color: aquamarine;
    /*border: 1px solid #222;*/
}



.app footer {
    background-color: violet;
}
